<div class="container">
    <h1>Подборки</h1>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            {% for collection in collections %}
            {% if not forloop.first %}
            <div class="carousel-item">
                <a href="{% url 'users:collection_detail' collection.pk %}">
                    <img src="{{ collection.image.url }}" class="d-block w-100 carousel-img" alt="{{ collection.name }}">
                </a>
            </div>

            {% else %}
            <div class="carousel-item active">
                <a href="{% url 'users:collection_detail' collection.pk %}">
                    <img src="{{ collection.image.url }}" class="d-block w-100 carousel-img" alt="{{ collection.name }}">
                </a>
            </div>
            {% endif %}


            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>