<div class="container">
        <h1>Скоро в Екатеринбурге</h1>


        <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-8 col-md-12 nongap">
                <div class="row g-4">

                  {% for event in soon_events %}

                  <div class="col-12 col-lg-6 col-md-6">
                    <div class="card card-border-none">
                        <a href="{% url 'users:event_detail' event.pk %}">
                            <img src="{{ event.image.url }}" class="card-img-top card-img" alt="...">
                        </a>
                      <div class="card-body">
                        <a href="{% url 'users:event_detail' event.pk %}"><h3>{{ event.name }}</h3></a>
                        <a href="{% url 'users:event_detail' event.pk %}"><p class="p_metadata">{{ event.category }}</p></a>
                        <a href="{% url 'users:event_detail' event.pk %}"><p class="p_description">{{ event.date }} {{ event.address }}</p></a>
                      </div>
                    </div>
                  </div>

                 {% endfor %}



                </div>
              </div>
            </div>
          </div>

    </div>