{% extends "users/base/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="image-wrapper">
        <img src="{{ collection.image.url }}" alt="Image">
    </div>
</div>
<br>

<div class="container">
      <p class="title-block">{{ collection.name }}</p><br>
        <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-8 col-md-12">
                <div class="row g-4">

                  {% for event in collection.event.all %}

                  <div class="col-12 col-lg-6 col-md-6">
                    <div class="card card-border-none">
                      <img src="{{ event.image.url }}" class="card-img-top card-img" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">{{ event.category }}</p>
                        <p class="card-text">{{ event.date }} {{ event.address }}</p>
                      </div>
                    </div>
                  </div>

                 {% endfor %}



                </div>
              </div>
            </div>
          </div>

    </div>

{% endblock %}
