{% extends "users/base/base.html" %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}
<br><br>
<div class="container">
        <img src="{{ event.image.url }}" class="event-img rounded">
        <br><br>
        <p class="event-title">
            {{event.name}}
        </p>
        <p>
            {{event.category}}
        </p>
        <p>
            {{ event.date }} {{ event.address }}
        </p>
        <p>

        </p>

        <p>
            {{ event.desc }}
        </p>

        <button class="btn btn-secondary">Зарегистрироваться</button>
        <br><br>
    </div>

{% endblock %}
