{% extends "users/base/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<br>
<div class="container" style="">
    <h1>Войти</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="loginInput" class="form-label"
               style="margin-left: 15px; font-size: 18px; margin: 0 auto;">Логин</label>
        {{ form.username }}
        <br>
        <label for="pwsInput" class="form-label text-center" style="font-size: 18px;">Пароль</label>
        {{ form.password }}
        <br>

        <button type="submit" class="btn btn-purple rounded">Войти</button>
    </form>


</div>

{% endblock %}
